/***********************/
/* Palette de couleurs */
/***********************/
$primary-color: #E00000;
$secondary-color: #FE5858;
$tertiary-color: #FFD6D6;
$darker: #000000;
$dark: #313144;
$light1: #C4C4C4;
$light2: #D8D8D8;
$light3: #E5E5E5;