//HERO HEADER
.hero {
    position : relative;
    margin: 0 auto;
    margin-bottom: 80px;
    text-align: center;
    img {
        width: 100vw;
        height: auto;
    }
}

//FILTRES

@mixin dropdown-style {
  color: $darker;
  background: #fff;
  font-family: poppins, sans-serif;
  font-weight: 500;
  font-size: 12px;
}

.photo-filters {
    display: flex;
    justify-content: space-between;
    #photo-filter {
        width: 48%;
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
}

#photo-date-filter {
    width: 25%;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    &.active {
        .dropdown-btn {
            border-color: #215AFF;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
      }

    .dropdown-btn {
      @include dropdown-style;
      border: 1.3px solid #B8BBC2;
      border-radius: 8px;
      text-transform: uppercase;
      padding: 10px;
      cursor: pointer;
      width: 100%;
      text-align: left;
      position: relative;
      padding-right: 30px;
    }

    .chevron {
        position: absolute;
        right: 10px;
        transition: transform 0.3s ease; /* Transition pour une animation fluide */
        transform: rotate(90deg);
    }
    
    &.active .chevron {
        transform: rotate(-90deg); /* Fait pivoter la flèche lorsqu'elle est active */
    }

    .dropdown-menu {
        @include dropdown-style;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        position: absolute;
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
        z-index: 1000;
        transform: translateY(-20px);
        opacity: 0;
        visibility: hidden;
        transition: transform 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s;
    
        li {
            padding: 10px;
            cursor: pointer;
            
            &:hover {
                background: $tertiary-color;
            }
            &:active {
                background: $secondary-color;
            }
            &.selected {
                color: #fff;
                background: $primary-color;
            }
        }
    }
    
    /* Lorsque le menu est actif */
    &.active .dropdown-menu {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}    

//LOAD MORE

.load-more-zone {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.load-more {
    width: 272px;
    text-align: center;
    font-family: 'space_mono', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: $darker;
    text-decoration: none;
    padding: 16px 0;
    border: none;
    border-radius: 2px;
    background-color: $light2;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    &:hover {
        color: #fff;
        background-color: $darker;
    }
}

//RESPONSIVE
@media (max-width: 767px) {
    .hero {
        margin-bottom: 30px;
    }
    .photo-filters {
        flex-direction: column;
        justify-content: center;
        width: 90vw;
        max-width: 450px;
        gap: 20px;
        #photo-filter {
            flex-direction: column;
            justify-content: center;
            width: 100%;
        }
        #photo-date-filter {
            width: 100%;
        }
    }
}